.NavBar {
    background-color: #e3e3e3;
    border: 1px solid #828282;
}

.NavLink {
    padding: 5px;
}

.NavLinkAlt {
    background-color: #828282;
    color: #f8f8f8;
    padding: 5px;
}

.NavLinkAlt:hover {
    background-color: #9c9c9c;
}

.NavLinkAlt i {
    color: #f8f8f8;
}

.Active {
    text-decoration: underline;
}

.NavDropdown {
    margin: 0px 10px;
}

.NavElements {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}